

div {
	background-color:yellow;
	padding:  20px;
}

img{
	width: 200px;
	height: auto;
	display: block;
	
}

form{
	 
	 width: 50%;
	 height:60px;
	 max-width: 300px;
	 background:#E3FF33;
	 padding: 70px
	 border:1px;
}

