* {
	margin: 0;
	padding: 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

body{
	background:  url('../img/fondo2.jpg');
	-webkit-background-size: cover;
	background-size: cover;
	font-family: Century Gothic; 
}

header {
	width: 100%;
	background: rgba(0,0,0,.6);
	border-bottom: 3px solid #FF4032;

}

.logo {
	width: 95%;
	max-width: 1000px;
	margin: auto;
	padding: 10px 0;
	display: flex;
	justify-content: center;
	-ms-align-items: center;
	align-items: center;
}

.logo a {
	text-decoration: none;
	color: #fff;
	font-size: 24px;
	margin-left: 6px;
}

.contenedor {
	width: 100%;
	max-width: 1150px;
	margin: auto;
	padding: 50px 10px;
	display: flex;
	flex-wrap:  wrap;
}

.tabla {
	background: rgba(0,0,0,.7);
	width: 350px;
	color: #fff;
	text-align: center;
	border-radius: 10px;
	cursor: pointer;
	overflow: hidden;
	transition: .5s;
	margin-bottom: 15px;
}

.titulo {
	background: #00CD2A;
	padding: 15px 0;	
}

.titulo .fa {
	font-size: 50px;
	margin-bottom: 10px;
}

.titulo h2 {
	font-size: 24px;
	text-transform: uppercase;
}

.precio {
	padding: 10px 0;
}

.precio h3 {
	font-size: 30px;
	color: #00CD2A;
}

.precio h3 span {
	font-size: 50px;
	margin-left: 5px;
}

.descripcion ul li {
	list-style: none;
	padding: 10px 0;
	border-bottom: 1px solid rgba(255,255,255,.5);
}

.descripcion ul li .fa-check {
	color: #00CD2A;
}

.descripcion ul li .fa-times {
	color: #FF4032;
}

.confirmar h1 {
  color: #0BF97A;
  padding: 10px 20px;
  border-bottom: 2px solid rgba(255,255,255,.5);
  margin-top: 10px;

}

.confirmar h2 {
	color: #F1F90B;
	padding: 10px 20px;
	text-align: left;
	border-bottom: 1px solid rgba(255,255,255,.5);
    margin-top: 10px;
}

.confirmar h3 {
	padding: 10px 20px;
	border-bottom: 1px solid rgba(255,255,255,.5);
    margin-top: 10px;
    font-size: 50px;
	color: #0B56F9;
	text-align: center;
}

.enlace a {
	display: inline-block;
	text-decoration: none;
	background: #00CD2A;
	color: #fff;
	margin: 40px 10px;
	padding: 10px 20px;
	border-radius:  50px;
	font-size: 22px;
	margin-top: 10px;
}

.enlace2 a {
	display: inline-block;
	text-decoration: none;
	background: #0B56F9;
	color: #fff;
	margin: 5px 100px;
	padding: 10px 40px;
	border-radius:  50px;
	font-size: 22px;
}






